{% extends "base.html" %}

{% block body %}
<body class="container">
  <div class="container-fluid" style="margin-top: 30px">
    <div class="row-fluid">
      <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div>
            {% block branding %}
              <h3 style="margin: 0 0 20px; color:#0390b2;">
                <span class="fa fa-server fa-lg" aria-hidden="true"></span>&nbsp;Gawana FHIR Server
              </h3>{% endblock %}
          </div>
        </div><!-- /row fluid -->

        <!--
        <div class="row-fluid">
          <div>
            {% if user %}
              <p>You are {{ user.username }}</p>
            {% else %}
              <p>You are not authenticated</p>
            {% endif %}
          </div>
        </div>
        -->
        <div class="row-fluid">
          <div>
            <form class="form-horizontal" action="{{ request.full_path }}" role="form" method="POST">
              <input type="hidden" name="next" value="{{ next }}" />

              <div id="div_id_username" class="clearfix control-group">
                <div class="form-group">
                  <input type="text" name="username" maxlength="100" placeholder="Username"
                    autocapitalize="off"
                    autocorrect="off" class="form-control textinput textInput"
                    id="id_username" required autofocus>
                </div>
              </div>
              <div id="div_id_password" class="clearfix control-group">
                <div class="form-group">
                  <input type="password" name="password" maxlength="100" placeholder="Password"
                     autocapitalize="off"
                     autocorrect="off" class="form-control textinput textInput"
                     id="id_password" required>
                </div>
              </div>

              {% if msg %}
                <div class="clearfix control-group alert alert-error">
                  <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;{{ msg }}</p>
                </div>
              {% endif %}

              <div class="form-actions-no-box">
                <input type="submit" name="submit" value="Log in"
                       class="btn btn-info form-control"
                       id="submit-id-submit" maxlength="50">

                <a class="btn btn-default" href="/signup/" role="button">Sign up</a>
              </div>
            </form>
          </div>
        </div><!-- /.row-fluid -->
      </div><!--/.well-->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</body>
{% endblock %}